In [4]:
import requests
import pandas as pd
import json
res = requests.get("https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY")
data=res.json()
df=pd.json_normalize(data)
df.to_csv("Nasa Data.csv")
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   id                                                    1 non-null      object
 1   neo_reference_id                                      1 non-null      object
 2   name                                                  1 non-null      object
 3   designation                                           1 non-null      object
 4   nasa_jpl_url                                          1 non-null      object
 5   absolute_magnitude_h                                  1 non-null      float64
 6   is_potentially_hazardous_asteroid                     1 non-null      bool
 7   close_approach_data                                   1 non-null      object
 8   is_sentry_object                                      1 non-null      bool
 9   links.self                                            1 non-null      object
 10  estimated_diameter.kilometers.estimated_diameter_min  1 non-null      float64
 11  estimated_diameter.kilometers.estimated_diameter_max  1 non-null      float64
 12  estimated_diameter.meters.estimated_diameter_min      1 non-null      float64
 13  estimated_diameter.meters.estimated_diameter_max      1 non-null      float64
 14  estimated_diameter.miles.estimated_diameter_min       1 non-null      float64
 15  estimated_diameter.miles.estimated_diameter_max       1 non-null      float64
 16  estimated_diameter.feet.estimated_diameter_min        1 non-null      float64
 17  estimated_diameter.feet.estimated_diameter_max        1 non-null      float64
 18  orbital_data.orbit_id                                 1 non-null      object
 19  orbital_data.orbit_determination_date                 1 non-null      object
 20  orbital_data.first_observation_date                   1 non-null      object
 21  orbital_data.last_observation_date                    1 non-null      object
 22  orbital_data.data_arc_in_days                         1 non-null      int64
 23  orbital_data.observations_used                        1 non-null      int64
 24  orbital_data.orbit_uncertainty                        1 non-null      object
 25  orbital_data.minimum_orbit_intersection               1 non-null      object
 26  orbital_data.jupiter_tisserand_invariant              1 non-null      object
 27  orbital_data.epoch_osculation                         1 non-null      object
 28  orbital_data.eccentricity                             1 non-null      object
 29  orbital_data.semi_major_axis                          1 non-null      object
 30  orbital_data.inclination                              1 non-null      object
 31  orbital_data.ascending_node_longitude                 1 non-null      object
 32  orbital_data.orbital_period                           1 non-null      object
 33  orbital_data.perihelion_distance                      1 non-null      object
 34  orbital_data.perihelion_argument                      1 non-null      object
 35  orbital_data.aphelion_distance                        1 non-null      object
 36  orbital_data.perihelion_time                          1 non-null      object
 37  orbital_data.mean_anomaly                             1 non-null      object
 38  orbital_data.mean_motion                              1 non-null      object
 39  orbital_data.equinox                                  1 non-null      object
 40  orbital_data.orbit_class.orbit_class_type             1 non-null      object
 41  orbital_data.orbit_class.orbit_class_description      1 non-null      object
 42  orbital_data.orbit_class.orbit_class_range            1 non-null      object
dtypes: bool(2), float64(9), int64(2), object(30)
memory usage: 462.0+ bytes

,id,neo_reference_id,name,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,3542519,3542519,(2010 PK9),2010 PK9,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,21.81,True,"[{'close_approach_date': '1900-06-01', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/3542519?ap...,...,.2211078086312678,195.638736952186,1.143028463093859,2460683.644436243885,214.5225683298073,1.749695328301573,J2000,ATE,Near-Earth asteroid orbits similar to that of ...,a (semi-major axis) < 1.0 AU; q (perihelion) >...