In [43]:
import requests
import pandas as pd
import numpy as np
import json
res = requests.get("https://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY")
df=pd.json_normalize(res)
df.head()

Empty DataFrame
Columns: []
Index: [0]

In [40]:

numeric_columns=df.select_dtypes(include=np.number).columns.tolist()
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].median())

In [35]:
import matplotlib.pyplot as plt

In [41]:
df[numeric_columns].std()
df[numeric_columns].mean()
print(df[numeric_columns].median())

Series([], dtype: float64)

In [42]:
df.head()

Empty DataFrame
Columns: []
Index: [0]